@media (max-width: 767px) {
    .dashboard_menu_btn {
        position: absolute;
        top: 17px;
        z-index: 99;
        right: 0;
        top: 0;
    }
    .modal-content {
        min-height: 100%;
        /* overflow-y: scroll; */
    }
    button.suport_add.btn {
        width: 100%;
    }
    /*===========================MOBILE SEARCH CSS START  */
    /* SEARCH MOBILE START  */
    .search_top {
        background: var(--blue);
        color: white;
        border: 0;
        padding: 9px;
        border: 1px solid;
        border-radius: 20px;
        border-color: gray;
        border-left: 0;
        transform: translateX(-36px);
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50%;
        padding: 0;
        text-align: center;
    }

    input.input_box[type="text"] {
        width: 100%;
        border-radius: 20px;
        border: 1px solid;
        border-color: gray;
        padding-left: 19px;
    }

    button.search_icon_new {
        background: var(--theme_color);
        color: white;
        border: 0;
        padding: 9px;
        border: 1px solid;
        border-radius: 20px;
        border-color: gray;
        margin-top: 5px;
        transition: 0.9s;
        position: absolute;
        right: 75px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        padding: 0;
        top: 7px;
    }
    .sub_search {
        position: absolute;
        top: 60px;
        z-index: 999;
        left: 19px;
        width: 100%;
        opacity: 0;
        transition: 0.9s;
    }

    /* SEARCH MOBILE END  */
    /*===========================MOBILE SEARCH CSS END  */

    /*=========================== COMMON CSS START  */
    .table {
        /* width: 774px; */
    }
    .padding_defauld {
        padding: 0px 0;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 0;
    }
    .section_title_block h2 {
        font-weight: 600;
        font-size: 19px;
    }
    a.btn_view {
        font-size: 13px;
        font-weight: 600;
    }
    .mt-5 {
        /* margin-bottom: 0 !IMPORTANT; */
        margin-top: 33px !important;
    }
    .footer-title.text_white.footer_after h4.mb-2.mb-md-4.text-white {
        font-size: 18px;
    }
    /*=========================== COMMON CSS END  */

    /* Mobile Menu */

    .mobile-menu {
        right: 0;
        color: var(--blue);
        z-index: 999;

        top: 16px;
    }
    i.fa.fa-bars.fa-2x.text-light {
        color: var(--blue) !important;
    }
    #rightsidebarfilter .modal-dialog {
        position: fixed;
        right: 0;
        margin: auto;
        width: 320px;
        height: 100%;
        -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
        -o-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0);
    }

    #rightsidebarfilter.fade .modal-dialog {
        right: -320px;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }

    #rightsidebarfilter.fade.show .modal-dialog {
        right: 0;
    }

    #rightsidebarfilter .modal-body {
        overflow-y: scroll;
    }

    #rightsidebarfilter .dropdown-menu.show {
        position: relative !important;
        transform: unset !important;
        max-height: 300px;
        overflow-y: scroll;
        border: 0;
        box-shadow: rgb(237 237 237) 0px 8px 24px;
    }

    #rightsidebarfilter .dropdown-toggle::after {
        display: none;
    }
    #rightsidebarfilter .modal-body .nav-link {
        font-size: 16px;
        margin-bottom: 0px;
        font-weight: 500;
        color: var(--black);
        border: 0;
    }

    #rightsidebarfilter .modal-footer a {
        text-decoration: none;
        color: var(--white);
    }

    #rightsidebarfilter .modal-footer {
        background-color: var(--blue);
    }

    #rightsidebarfilter ul li img {
        max-height: 60px;
        min-height: 60px;
        object-fit: contain;
        object-position: center;
    }

    #rightsidebarfilter .navbar-brand span {
        color: var(--third-color);
    }

    #rightsidebarfilter .navbar-brand {
        color: var(--theme_color_sub);
    }

    #rightsidebarfilter .nav-indication {
        font-size: 12px;
        display: none;
    }

    #rightsidebarfilter .modal-body .nav-item a.active {
        color: var(--theme_color_sub);
    }
    #searchpopupmodal .modal-body input {
        font-size: 24px;
    }
    div#searchpopupmodal .modal-header h4 {
        font-size: 14px;
        font-weight: bold;
    }
    /* li.nav-item {
      height: 50px;
      line-height: 50px;
      text-align: center;
      width: 100%;
      text-align: left;
    } */
    i.fa.fa-bars.fa-2x.text-light {
        z-index: 99;
        position: relative;
        top: 22px;
        color: var(--theme_color);
        top: 17px;
    }
    /* .nav_bar .mobile-menu i.fa.fa-bars.fa-2x.text-light {
      z-index: 999;
      position: relative;
      color: red !important;
  } */
    .mobile-menu.d-lg-none.d-md-block.mr-4.position-absolute {
        position: absolute;
        top: 0;
    }
    ul.cart_top_list {
        display: none !important;
    }
    a.navbar-brand img {
        height: 54px;
        padding-left: 18px;
    }
    /* Mobile Menu Ends */
}
/* @media(max-width:570px){
    .table {
        width: unset;
    }
} */
