@media (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1300px !important;
    }

    .shipping_radio.custom-radio {
        position: relative;
        width: 100%;
    }
}

@media (max-width: 1199px) {
    .shipping_radio.custom-radio {
        position: relative;
        width: 100%;
    }

    .main_delivery_info {
        height: unset;
    }
}

@media (max-width: 767px) {
    :root {
        --theme_color: #258aff !important;
        --theme_color_sub: #f78035;
        --body_color: #f5f5f5;
        --black: #000;
        --black_light: #333;
        --title_text: #373f50;
        --red_light: #ac0202;
        --white: #fff;
        --gray_light: #f7f7f7;
        --section_bg: #f6f9fc;
        --black_light_one: #7d879c;
        --gray: #878787;
    }

    /*=========================== SLIDER START  */
    button.slick-prev.slick-arrow {
        position: absolute;
        left: 0 !important;
        z-index: 9;
        top: 44%;
    }

    button.slick-next.slick-arrow {
        position: absolute;
        right: 0;
        top: 44%;
    }

    #slider button.slick-next.slick-arrow {
        position: absolute;
        right: 11%;
        top: 44%;
    }

    /*=========================== SLIDER END  */

    /*===========================MOBILE SEARCH CSS START  */
    /* SEARCH MOBILE START  */
    .search_top {
        background: var(--blue);
        color: white;
        border: 0;
        padding: 9px;
        border: 1px solid;
        border-radius: 20px;
        border-color: gray;
        border-left: 0;
        transform: translateX(-36px);
        width: 46px;
        height: 40px;
        line-height: 40px;
        border-radius: 50%;
        padding: 0;
        text-align: center;
    }

    input.input_box[type="text"] {
        width: 100%;
        border-radius: 20px;
        border: 1px solid;
        border-color: gray;
        padding-left: 19px;
    }

    button.search_icon_new {
        background: var(--theme_color);
        color: white;
        border: 0;
        padding: 9px;
        border: 1px solid;
        border-radius: 20px;
        border-color: gray;
        margin-top: 5px;
        transition: 0.9s;
        position: absolute;
        right: 75px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        padding: 0;
        top: 7px;
    }

    .sub_search {
        position: absolute;
        top: 60px;
        z-index: 999;
        left: 19px;
        width: 100%;
        opacity: 0;
        transition: 0.9s;
    }

    /* SEARCH MOBILE END  */
    /*===========================MOBILE SEARCH CSS END  */

    /*=========================== COMMON CSS START  */
    .table {
        /* width: 774px; */
    }

    .padding_defauld {
        padding: 0px 0;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 0;
    }

    .section_title_block h2 {
        font-weight: 600;
        font-size: 19px;
    }

    a.btn_view {
        font-size: 13px;
        font-weight: 600;
    }

    /*=========================== COMMON CSS END  */

    /* Mobile Menu */

    .mobile-menu {
        right: 0;
        color: var(--blue);
        z-index: 999;

        top: 16px;
    }

    i.fa.fa-bars.fa-2x.text-light {
        color: var(--blue) !important;
    }

    #rightsidebarfilter .modal-dialog {
        position: fixed;
        right: 0;
        margin: auto;
        width: 320px;
        height: 100%;
        -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
        -o-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0);
    }

    #rightsidebarfilter.fade .modal-dialog {
        right: -320px;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }

    #rightsidebarfilter.fade.show .modal-dialog {
        right: 0;
    }

    #rightsidebarfilter .modal-body {
        overflow-y: scroll;
    }

    #rightsidebarfilter .dropdown-menu.show {
        position: relative !important;
        transform: unset !important;
        max-height: 300px;
        overflow-y: scroll;
        border: 0;
        box-shadow: rgb(237 237 237) 0px 8px 24px;
    }

    #rightsidebarfilter .dropdown-toggle::after {
        display: none;
    }

    #rightsidebarfilter .modal-body .nav-link {
        font-size: 16px;
        margin-bottom: 0px;
        font-weight: 500;
        color: var(--black);
    }

    #rightsidebarfilter .modal-footer a {
        text-decoration: none;
        color: var(--white);
    }

    #rightsidebarfilter .modal-footer {
        background-color: var(--blue);
    }

    #rightsidebarfilter ul li img {
        max-height: 60px;
        min-height: 60px;
        object-fit: contain;
        object-position: center;
    }

    #rightsidebarfilter .navbar-brand span {
        color: var(--third-color);
    }

    #rightsidebarfilter .navbar-brand {
        color: var(--theme_color_sub);
    }

    #rightsidebarfilter .nav-indication {
        font-size: 12px;
        display: none;
    }

    #rightsidebarfilter .modal-body .nav-item a.active {
        color: var(--theme_color_sub);
    }

    #searchpopupmodal .modal-body input {
        font-size: 24px;
    }

    div#searchpopupmodal .modal-header h4 {
        font-size: 14px;
        font-weight: bold;
    }

    /* li.nav-item {
        height: 50px;

        text-align: center;
        width: 100%;
        text-align: left;
    } */

    i.fa.fa-bars.fa-2x.text-light {
        z-index: 99;
        position: relative;
        top: 22px;
        color: var(--theme_color);
        top: 17px;
    }

    /* .nav_bar .mobile-menu i.fa.fa-bars.fa-2x.text-light {
    z-index: 999;
    position: relative;
    color: red !important;
} */
    .mobile-menu.d-lg-none.d-md-block.mr-4.position-absolute {
        position: absolute;
        top: 0;
    }

    ul.cart_top_list {
        display: none !important;
    }

    a.navbar-brand img {
        height: 54px;
        padding-left: 18px;
    }

    /* Mobile Menu Ends */

    /* SLIDER MEN START  */
    .slider_item img {
        object-fit: fill;
        object-position: center;
        height: 12rem;
    }

    /* SLIDER MEN END  */
    section#category_section {
        margin-bottom: 0px;
    }

    .section_title_block.d-flex.justify-content-between.align-item-center.h-100 {
        flex-direction: column;
        padding-bottom: 13px;
    }

    .product-grid-item .cart-compare {
        opacity: 1;
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 10px 4px 4px 0;
        margin-top: 6px;
        border-top: 1px solid transparent;
    }

    section#productlist .product-grid-item .cart-compare {
        opacity: 1;
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 4px 0;
        margin-top: 6px;
        border-top: 1px solid transparent;
    }

    section#productlist .product-grid-item {
        opacity: 1;
        transition: 0.5s;
        border-top: 1px solid #eeeeee;
    }

    section#productlist .grid-item {
        box-shadow: 0 0 6px 0 rgb(1 1 1 / 30%);
    }

    section#order_list_top .img_order_list img {
        width: 20px;
    }

    section#order_list_top .img_order_list h6 {
        font-size: 13px;
        white-space: nowrap;
    }

    section#order_list_top .img_order_list {
        margin-bottom: 16px;
    }

    section#cart_user .form-inline.border-0 {
        flex-wrap: inherit;
        margin-bottom: 0;
    }

    section#cart_user .form-group.flex-grow-1 {
        margin-bottom: 0;
    }

    section#cart_user
        .button_block.d-flex.justify-content-between.align-items-center {
        display: flex;
        flex-direction: column;
        align-items: flex-start !important;
    }

    section#cart_user .button_block a {
        margin-top: 10px;
    }

    .main_delivery_info {
        height: unset;
    }

    section#cart_user span.imgCheckbox0 .img_select {
        min-width: 300px;
        max-width: 300px;
    }

    /* =============FOOTER START  */
    .footer-title.text_white.footer_after h4 {
        font-size: 16px;
        font-weight: 600;
    }

    #footer .footer-logo-box {
        margin-bottom: 15px;
    }

    /* =============FOOTER END  */
    #rightsidebarfilter .modal-content.h-100 {
        height: 100% !important;
    }
    label.shipping_radio-label {
        padding-left: 35px;
    }
    .delivery_row_block {
        flex-wrap: inherit;
        overflow-x: auto;
    }
    .product-grid-item .all-deals {
        text-transform: capitalize !important;
        transition: all 0.5s ease 0s;
        font-size: 1px;
    }
}
