*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

a:focus,
.button:focus,
button:focus,
textarea,
.btn:focus {
    text-decoration: none;
    outline: none;
    box-shadow: none;
}

section#cart_user span.imgCheckbox0 .img_select {
    min-height: 140px;
    max-height: 140px;
}

/* 
i.fa.fa-shopping-bag,
i.fa.fa-heart-o {
  color: var(--theme_color_sub);
} */

/* DEFAULT CSS END  */

input:hover,
textarea,
input:focus {
    outline: none !important;
    box-shadow: none !important;
}

.z-index {
    z-index: 9 !important;
    position: relative;
}

select {
    outline: 0 !important;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

.bg-image {
    background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {}

h1 {
    font-weight: 600;
}

h2 {}

h3 {}

h4 {}

h5 {
    font-size: 19px;
    /* line-height: 29px; */
}

p {
    font-size: 1rem;
    color: var(--black);
    line-height: 26px;
}

html {
    font-size: 17px;
    overflow-x: hidden !important;
}

body {
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    transition: 0.3 !important;
    -webkit-transition: 0.3 !important;
    -moz-transition: 0.3 !important;
    -ms-transition: 0.3 !important;
    -o-transition: 0.3 !important;
    /* font-family: 'Readex Pro', sans-serif; */
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
    position: relative;
}

/* FONT COLOR START  */

:root {
    --theme_color: #258aff !important;
    --theme_color_sub: #f78035;
    --body_color: #f5f5f5;
    --black: #000;
    --black_light: #333;
    --title_text: #373f50;
    --red_light: #ac0202;
    --white: #fff;
    --gray_light: #f7f7f7;
    --section_bg: #f6f9fc;
    --black_light_one: #7d879c;
    --gray: #878787;
}

/*=================================================== CUSTOME BG COLOR START  */

.theme_bg {
    background: var(--theme_color);
}

.body_bg {
    background: var(--body_color);
}

/*=================================================== CUSTOME BG COLOR END  */
/*=================================================== CUSTOME COLOR START  */

.red_text {
    color: var(--red_light);
}

/*=================================================== CUSTOME COLOR END  */

/*=================================================== CUSTOME CSS START  */
.slick-dots li button {
    display: none;
}

.section_title_block {
    border-bottom: 1px solid #ddd;
    padding: 9px 0 5px 0;
    color: #333e48;
}

.section_title_block::after {
    content: "";
    position: absolute;
    width: 20%;
    height: 1.5px;
    background: #258aff;
    bottom: -2px;
}

.section_title_block {
    position: relative;
}

.section_title_block h2 {
    font-weight: 600;
    font-size: 22px;
    padding-bottom: 9px;
}

.padding_defauld {
    padding: 70px 0;
}

.padding_top {
    padding-top: 70px;
}

.padding_bottom {
    padding-bottom: 70px;
}

a.btn_view {
    color: #333e48;
    font-size: 15px;
    font-weight: 600;
}

.border_one {
    border-top: 0.1px solid #dee2e6;
}

select {
    cursor: pointer;
}

.fa-trash-o:hover {
    color: red !important;
    display: inline-block;
}

/*=================================================== CUSTOME END  */
/*=================================================== TABLE CSS START  */
th.th_size {
    width: 100px;
    text-align: center !important;
}

th.remove_block_last {
    width: 25px;
    text-align: center !important;
}

.input_block {
    width: 40%;
    margin: 0 auto;
    border: 1px solid #dee2e6;
}

td {
    font-size: 15px;
}

.img_men_cart img {
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
}

i.fa.fa-trash-o {
    transition: 0.3s;

    color: var(--black);
}

i.fa.fa-trash-o:hover {
    color: red;
}

.value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.value-button:hover {
    cursor: pointer;
}

form #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
}

form #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
}

section#cart_user input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

section#cart_user input#numbers {
    background: #fafafa !important;
}

section#cart_user input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*=================================================== TABLE CSS END  */
/*=================================================== BUTTON CSS START  */
.btn-custom {
    padding: 8px 27px;
    background: var(--theme_color_sub) !important;
}

section#cart_user .btn_custom {
    padding: 10px 27px;
    background: var(--theme_color_sub);
    color: var(--white);
    text-decoration: none;
    text-decoration-line: none;
    transition: 0.4s linear;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    border-radius: 0px;
    font-size: 14px;
    border: 0;
}

section#cart_user .btn_custom:hover {
    color: white;
}

section#cart_user .btn_custom:hover::before {
    transform: scaley(1);
    color: black;
    z-index: -1;
}

section#cart_user .btn_custom::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--secondary-color);
    z-index: 1;
    transition: transform 0.5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaley(0);
}

/*=================================================== BUTTON CSS END  */

/*=================================================== HEADER START  */

/*============ TOP HEADER START  */
button.btn_custom_go {
    background: var(--theme_color);
    outline: 0 !important;
    border: 0;
    color: var(--white);
    padding: 0 7px;
    margin-right: 10px;
}

header.section-header {
    background: var(--theme_color);
}

header.section-header {
    border-bottom: 1px solid #ddd;
    padding: 5px;
}

button.btn_account {
    font-size: 13px;
    font-weight: 500;
}

ul.my_account a {
    color: black;
}

ul.my_account a:hover {
    color: var(--theme_color);
}

header.section-header .top_head_right a.trak_order {
    font-size: 13px;
}

header.section-header .track_input_btn input {
    font-size: 13px;
    border-radius: 0;
}

header.section-header .track_input_btn input[type="text"]::placeholder {
    color: #000;
    font-size: 14px;
}

header.section-header .input_track_blo {
    width: 223px;
    border-radius: 0 !important;
}

header.section-header ul.my_account li {
    padding-bottom: 5px;
}

header.section-header ul.my_account li a {
    transition: 0.3s;
    font-size: 15px;
}

header.section-header ul.my_account li a:hover {
    color: var(--theme_color_sub);
}

header.section-header ul.my_account li:nth-child(2) {
    padding-bottom: 2px;
}

/*============ TOP HEADER END ===*/

.header-sticky.sticky-bar {
    background: #fff;
}

.sticky-bar {
    left: 0;
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-box-shadow: 0 10px 15px rgb(25 25 25 / 10%);
    box-shadow: 0 10px 15px rgb(25 25 25 / 10%);
    z-index: 99;
    -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    -webkit-box-shadow: 0 10px 15px rgb(25 25 25 / 10%);
    background: #fff;
}

.searchbar.d-none.d-md-block {
    display: none !important;
}

a.search_icon.text-dark i.fa {
    color: var(--white);
}

.nav_bar {
    /* padding: 15px 0; */
}

a.navbar-brand img {
    height: 55px;
}

.search_select_content option {
    font-size: 14px;
    padding: 20px;
}

.search_men {
    border: 1px solid;
    border-color: var(--theme_color);
    border-radius: 38px;
    overflow: hidden;
    height: 43px;
    line-height: 42px;
    margin-top: 14px;
}

.search_select_content {
    width: 90%;
}

/* input.form-control.border-0.search_input {
    width: 68%;
    transform: translateY(-22px);
} */
input.form-control.border-0.search_input {
    width: 68%;
    transform: translateY(0px);
}

.search_select.border-0 {
    width: 25%;
}

.search_icon_top {
    background: var(--theme_color);
    color: var(--black);
    width: 7%;
    transform: translateY(0px);
}

ul.cart_top_list img {
    width: 20px;
}

.sub_block {
    position: absolute;
    top: -50%;
    right: -50%;
    background: var(--theme_color_sub);
    height: 19px;
    line-height: 21px;
    width: 19px;
    color: var(--white);
    font-weight: 500;
    text-align: center;
    border-radius: 50%;
    padding: 0;
    /* transform: translate(29%, 77%); */
}

div#cart_header_table {
    left: -154%;
    width: 421px;
    border-radius: 0;
}

div#cart_header_table .cart_header_price {
    border-top: 0.1px solid #dee2e6;
    padding: 12px 14px 0 14px;
}

div#cart_header_table .cart_header_title {
    width: 280px;
    text-align: left;
}

div#cart_header_table .cart_header_price h6 {
    font-size: 15px;
    font-weight: 600;
    padding-right: 11px;
}

div#cart_header_table .img_header_cart img {
    min-width: 60px;
    max-width: 60px;
    min-height: 60px;
    max-height: 60px;
}

div#cart_header_table .img_header_cart {
    min-width: 60px;
    max-width: 60px;
    min-height: 60px;
    max-height: 60px;
}

div#cart_header_table td {
    color: black;
    font-size: 15px;
    font-weight: 600;
}

div#cart_header_table .header_cart_icon {
    background: #80808047;
    color: black;
    width: 25px;
    height: 25px;
    display: block;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    transition: 0.3s;
}

div#cart_header_table .header_cart_icon:hover {
    background: var(--theme_color);
}

div#cart_header_table .table td,
.table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 0.1px solid #dee2e6;
}

/*=================================================== FORM START  */
.qty {
    width: 77px;
    border: 1px solid #dee2e6;
    cursor: pointer;
}

td.romove-item a {
    transition: 0.3s;
}

.dashboard-list a {
    text-decoration: none;
    font-size: 16px;
    color: var(--black);
    transition: 0.3s;
}

.dashboard-list a:hover {
    color: var(--theme_color);
}

td.romove-item a:hover {
    color: red;
}

b.minus {
    width: 22px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

input.count {
    width: 25px;
    text-align: center;
    border-radius: 0 !important;

    border-left: 1px solid;
    border-right: 1px solid;
    border-top: 0;
    border-bottom: 0;
    cursor: pointer;
    border-color: #dee2e6;
}

b.plus {
    width: 25px;
}

/*=================================================== FORM END  */

/*=================================================== SLIDER START  */

button.slick-prev.slick-arrow {
    position: absolute;
    left: -4% !important;
    z-index: 97;
    top: 44%;
}

button.slick-next.slick-arrow {
    position: absolute;
    right: -1%;
    top: 44%;
}

.slick-dots li button:before {
    content: "\f192";
    font-family: "FontAwesome";
    font-size: 1rem;
    line-height: 1.25rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 1.25rem;
    height: 1.25rem;
    text-align: center;
    opacity: 0.25;
    color: var(--black);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev:before {
    content: "\f105";
    color: var(--white);
    font-size: 1.5rem;
    font-family: "FontAwesome";
    position: absolute;
    color: var(--red_light);
    font-size: 1.5rem;
    font-family: "FontAwesome";
    position: absolute;
    font-weight: 200 !important;
    border: 1px solid;
    padding: 0.3rem 0.7rem;
    border-radius: 50%;
    width: 37px;
    border-color: #0000005c;
    background-color: var(--white);
    transform: rotate(180deg);
    height: 37px;
}

.slick-next:before {
    content: "\f105";
    color: var(--white);
    font-size: 1.5rem;
    font-family: "FontAwesome";
    position: absolute;
    color: var(--red_light);
    font-size: 1.5rem;
    font-family: "FontAwesome";
    position: absolute;
    font-weight: 200 !important;
    border: 1px solid;
    padding: 0.3rem 0.7rem;
    border-radius: 50%;
    border-color: #0000005c;
    background-color: var(--white);
    width: 37px;
    height: 37px;
}

.slider_item img {
    object-fit: cover;
    object-position: center;
    height: 29rem;
}

.your-class {
    height: 29rem;
}

.slider-content {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -25%);
}

section#slider .slick-dots {
    bottom: 22px;
}

ul.sub_menu_list {
    position: absolute;
    z-index: 9;
    background: white;
    top: 0;
    width: 22rem;
    right: -119%;
    padding: 1.5rem;
}

ul.sub_menu_list {
    display: none;
    transform: translateX(14px);
    transition: 0.5s;
}

.product_icon:hover ul.sub_menu_list {
    display: block;
    transform: translateX(0px);
    left: 100%;
    border-left: 1px solid;
    border-color: gar;
    border-color: #00000026;
}

ul.sub_menu_list li {
    padding-bottom: 0.5rem;
}

li.px-3.product_icon.d-block {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #00000012;
    padding-top: 0.5rem;
    cursor: pointer;
    z-index: 99;
}

a.sub_icon {
    font-size: 0.9rem;
    color: var(--black_light);
    font-weight: 500;
}

a.sub_icon:hover {
    color: var(--theme_color);
}

ul.sub_menu_list a {
    font-size: 0.9rem;
    color: var(--black_light);
    transition: 0.3s;
}

ul.sub_menu_list a:hover {
    color: var(--theme_color);
}

section#slider .slick-dotted.slick-slider {
    margin-bottom: 0px;
}

section#slider ul.bg-white.border_one.d-lg-block.d-none {
    box-shadow: rgb(0 0 0 / 15%) 0px 3px 3px 0px;
    border: 0;
    /* border-top: 1px solid #00000036; */
}

span.pr-2.category_icon_img img {
    max-width: 21px;
    min-width: 21px;
    margin-right: 10px !important;
}

.category_title_top {
    padding: 8px 20px;
    font-weight: 600;
}

.category_btn a {
    color: var(--white);
    font-size: 14px;
}

.category_title h5 {
    font-weight: 600;
    font-size: 17px;
    color: var(--white);
}

.icon_show_category {
    opacity: 0;
}

/* .category_icon_img:hover .icon_show_category {
    opacity: 1;
} */
a.dropdown-item.category_icon_img:hover .icon_show_category {
    opacity: 1;
}

/*=================================================== SLIDER END  */

/*============================================= CATEGORY START  */
section#category_section .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
}

section#category_section .grid-item {
    background-color: whitesmoke;
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
    margin: 10px;
    position: relative;
    z-index: 1;
    display: block;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    border: solid 1px #f1f1f1;
    padding: 10px;
    border-radius: 10px;
}

section#category_section .text_cate h3 {
    font-size: 20px;
    text-align: center;
    color: #4d4a4a;
}

/* section#category_section {
    margin-bottom: 75px;
} */
section#category_section .grid-container {
    background: white;
    padding: 20px 0 5px 0;
}

section#category_section .text_cate h3 {
    padding: 10px;
    color: #333;
    font-size: 13px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

section#category_section .grid-item img.img-fluid {
    border-radius: 50%;
    min-height: 109px;
    max-height: 109px;
}

section#category_section .grid-item img.img-fluid {
    border-radius: 50%;
    min-height: 109px;
    max-height: 109px;
    /* object-fit: contain; */
    max-width: 109px;
    min-width: 109px;
    border: 10px solid;
    border-color: white;
    margin: 0 auto;
}

section#category_section .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 20px;
    grid-column-gap: 0px;
}

/*============================================= CATEGORY END  */
/*=================================================== FEATURED PRODUCT START  */
.product_listing .product-grid-item .product-grid-image img {
    width: 100%;
    max-height: 190px;
    min-height: 190px;
    object-fit: contain;
    object-position: center;
}

.product-grid-item .category-title .title a {
    color: var(--theme_color_sub) !important;
}

.product-grid-item .product-discount-label {
    background-color: var(--theme_color_sub) !important;
}

.product-grid-item .category-title .category a {
    color: rgb(163, 163, 163) !important;
    font-size: 12px;
}

.product-grid-item:hover .price-cart .all-deals {
    background-color: var(--theme_color_sub) !important;
}

.product-grid-item .cart-compare a:hover {
    color: var(--theme_color_sub) !important;
}

section#productlist .top_head_right a {
    font-size: 13px;
    font-weight: 500;
}

section#productlist .grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

section#productlist .grid-item {
    text-align: center;
    margin: 20px;
    position: relative;
    z-index: 1;
    display: block;
    overflow: hidden;
    -webkit-backface-visibility: hidden;

    /* padding: 10px; */
    /* border-radius: 10px; */
}

section#productlist .product-grid-item {
    transition: all 0.5s;
    position: relative;
    padding: 10px;
    text-align: left;
}

section#productlist .category-title .category a {
    color: var(--black);
    font-weight: 500;
    font-size: 13px;
    padding-bottom: 1px;
    display: block;
}

section#productlist .product-grid-item a {
    text-decoration: none;
}

section#productlist .grid-item:hover {
    box-shadow: 0 0 4px 0 rgb(1 1 1 / 30%);
}

section#productlist .product-grid-item:hover {
    transition: all 0.5s;
}

section#productlist .product-grid-item .product-grid-image {
    position: relative;
    transition: all 0.3s ease 0s;
}

section#productlist .product-grid-item .product-grid-image a {
    display: block;
}

section#productlist .product-grid-item .product-grid-image img {
    width: 80%;
    max-height: 190px;
    min-height: 190px;
    object-fit: cover;
    object-position: center;
    margin: 0 auto;
}

section#productlist .product-grid-item .pic-1 {
    opacity: 1;
    transition: all 0.5s;
    transform: scale(1);
}

section#productlist .product-grid-item:hover .pic-1 {
    opacity: 0.7;
    transform: scale(1.05);
    transition: all 0.5s;
}

section#productlist .product-grid-item .category-title .category {
    color: rgb(163, 163, 163);
    font-size: 10px;
}

section#productlist .product-grid-item .category-title .title a {
    color: var(--theme_color_sub);
}

.theme-color-sub {
    color: var(--theme_color_sub) !important;
}

section#productlist .product-grid-item .product-discount-label {
    display: block;
    padding: 5px;
    color: #fff;
    background-color: var(--theme_color_sub);
    /* position: absolute;
    top: 30px;
    right: -5px; */
    font-size: 12px;
}

section#productlist .product-grid-item .all-deals {
    display: block;
    font-size: 10px;
    letter-spacing: 1px;
    color: var(--black);
    text-align: center;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
}

section#productlist .product-grid-item .all-deals.ico {
    font-size: 14px;
}

section#productlist .product-grid-item .cart-compare a:hover {
    color: var(--theme_color);
}

section#productlist .product-grid-item .cart-compare {
    opacity: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 4px 0;
    margin-top: 6px;
    border-top: 1px solid transparent;
}

section#productlist .product-grid-item:hover .cart-compare {
    opacity: 1;
    transition: 0.5s;
    border-top: 1px solid #eeeeee;
}

section#productlist .product-grid-item .price-cart {
    color: var(--black);
    transition: all 0.3s;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}

section#productlist .product-grid-item .price-cart .all-deals {
    background-color: rgb(239 239 239);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#productlist .product-grid-item:hover .price-cart .all-deals {
    background-color: var(--theme_color_sub);
    color: white;
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 0.5s linear;
    animation-iteration-count: 1;
}

section#productlist .product-grid-item .price-cart span {
    color: var(--red);
    font-size: 12px;
    font-weight: 500;
    text-decoration: line-through;
    margin-left: 7px;
}

/*=================================================== FEATURED PRODUCT END  */
/*=================================================== TOW BANNER START  */
section#two_banner .banner_img_block img {
    min-height: 136px;
    max-height: 136px;
    object-fit: cover;
    width: 100%;
}

/* the slides */
/* .slick-slide {
    margin-left:27px;
  }

  
  .slick-list {
    margin-left:-27px;
  } */
/*=================================================== TOW BANNER END  */

/*=================================================== BEST SELLING START  */
.savings {
    width: 80px;
    background: var(--theme_color_sub);
    border-radius: 50%;
    height: 80px;
    text-align: center;
    color: black;
    position: relative;
}

span.savings-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    color: white;
}

/* 
section#productlist .flip-clock-wrapper ul {
    position: relative;
    float: left;
    margin: 5px;
    width: 19px;
    height: 34px;
    font-size: 0;
    font-weight: bold;
    line-height: 14px;
    border-radius: 6px;
    background: #000;
}
section#productlist .flip-clock-wrapper ul li {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 107%;
    line-height: 24px;
    text-decoration: none !important;
}
section#productlist .flip-clock-wrapper ul li a div div.inn {
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 47px;
    color: #ccc;
    text-shadow: 0 1px 2px #000;
    text-align: center;
    background-color: #333;
    border-radius: 6px;
        font-size: 20px;
} */
.special_title h4 {
    color: #5b5757;
    font-size: 20px;
}

.special_left img {
    min-height: 194px;
    max-height: 194px;
    width: 100%;
    object-fit: fill;
}

.special_left h6 {
    font-size: 13px;
    font-weight: 600;
}

.special_offer_men {
    border: 2px solid;
    border-color: var(--theme_color_sub);
    border-radius: 20px;
}

div#countdown li {
    border: 1px solid;
    font-size: 13px;
    font-weight: 600;
    align-items: center;
    color: black;
    background: #80808017;
    padding: 4px 7px;
    margin: 1px;
    border-color: #80808047;
}

.content_left h5#headline {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 20px;
}

/* general styling */

/*=================================================== BEST SELLING END  */
/*=================================================== TWO BANNER START  */

section#banner_two .two_banner_img {
    overflow: hidden;
    position: relative;
}

section#banner_two .two_banner_img img {
    transform: scale(1);
    transition: 0.5s;
    min-height: 200px;
    max-height: 200px;
    object-fit: cover;
    width: 100%;
}

section#banner_two .two_banner_img img:hover {
    transform: scale(1.2);
    min-height: 200px;
    max-height: 200px;
    /* transition: .5s; */
}

/*=================================================== TWO BANNER END  */

/*=================================================== FOOTER START  */

footer#footer {
    background-color: var(--blue);
}

.footer-title ul li a:hover {
    color: #f7921c !important;
}

a.footer-logo.navbar-brand {
    color: #ed4c29;
    font-size: 31px;
}

footer#footer .section-title {
    margin-bottom: 0;
}

.footer-home {
    margin-top: -20%;
    padding-top: 22%;
    padding-bottom: 40px;
}

footer#footer .button-footer.d-flex {
    border: 1px solid gray;
}

footer#footer .button-footer .footer-btn {
    width: 152px;
    height: 40px;
    line-height: 40px;
}

.footer-title ul li a,
.social-icon-footer ul li a,
.top-social-icon ul li a i {
    transition: 0.5s;
}

.footer-title ul li a:hover {
    color: #f7921c;
}

.social-icon-footer ul li a:hover {
    color: orange;
}

/*================================================= FOOTER END  */
/*=============================================== CART PAGE START  */

#cart-wrapper .shopping-cart {
    overflow: hidden;
}

#cart-wrapper {
    /* font-family: "Baloo Bhaijaan 2", cursive; */
}

#cart-wrapper .shopping-cart-table table tbody tr td .quant-input {
    display: inline-block;
    height: 35px;
    position: relative;
    width: 70px;
}

#cart-wrapper .shopping-cart .shopping-cart-table .table>thead>tr>th {
    text-align: left;
    padding: 16px 0;
    font-size: 15px;
}

#cart-wrapper .table tbody tr {
    border-bottom: 1px solid var(--theme_color);
}

#cart-wrapper .total-amount {
    color: var(--theme_color);
}

#cart-wrapper .shopping-cart .shopping-cart-table table tbody tr .romove-item,
#cart-wrapper .shopping-cart .shopping-cart-table table tbody tr .cart-product-grand-total,
#cart-wrapper .shopping-cart .shopping-cart-table table tbody tr .cart-product-quantity {
    text-align: left;
}

#cart-wrapper .table tbody tr td {
    padding: 10px 0px;
    vertical-align: middle;
}

#cart-wrapper .shopping-cart .shopping-cart-table table tbody tr .cart-image .entry-thumbnail {
    display: block;
    text-align: left;
}

#cart-wrapper .shopping-cart .cart-image img {
    max-height: 80px;
    min-height: 80px;
    object-fit: contain;
    object-position: center;
    transition: all 0.5s ease-out 0s;
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    -webkit-transition: 0.3s ease-in-out;
}

#cart-wrapper .shopping-cart .cart-image:hover a img {
    -webkit-transform: rotate(0deg) scale(1.1);
    transform: rotate(0deg) scale(1.1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

#cart-wrapper .shopping-cart .cart-image a {
    overflow: hidden;
}

table .cart-image {
    width: 19%;
}

#cart-wrapper .shopping-cart .shopping-cart-table table tbody tr .cart-product-name-info {
    vertical-align: middle !important;
    width: 150px;
}

#cart-wrapper .shopping-cart .shopping-cart-table table tbody td .cart-product-name-info {
    vertical-align: middle !important;
    width: 150px;
}

#cart-wrapper .shopping-cart .shopping-cart-table table tbody tr .cart-product-name-info h4 {
    margin-top: 0px;
    font-size: 16px;
    text-align: left;
}

#cart-wrapper .shopping-cart .shopping-cart-table table tbody tr .cart-product-name-info h4 a {
    text-decoration: none;
    color: var(--theme_color);
}

#cart-wrapper .shopping-cart-table table tbody tr td .quant-input {
    display: inline-block;
    height: 35px;
    position: relative;
    width: 70px;
}

#cart-wrapper .shopping-cart-table table tbody tr td .quant-input input {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    font-size: 15px;
    height: 35px;
    left: 0;
    padding: 0 4px 0 18px;
    position: absolute;
    top: 0;
    width: 70px;
    z-index: 1;
}

#cart-wrapper .shopping-cart-table {
    width: 100%;
    text-align: left;
}

#cart-wrapper .coupon-field input {
    border: 1px solid #b9afaf;
    padding: 6px;
}

#cart-wrapper .shopping-cart-table {
    border-bottom: 1px solid #dee2e6;
}

#cart-wrapper input::placeholder {
    color: #000;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #dee2e6;
}

#cart-wrapper .cart-summary {
    box-shadow: #258aff 0px 0px 0px 1px;
}

section#cart-wrapper ul.sidebar a {
    color: #000000c4;
    transition: 0.3s;
}

section#cart-wrapper ul.sidebar a:hover {
    color: var(--theme_color);
}

#cart-wrapper .cart-summary strong {
    font-size: 18px;
}

#cart-wrapper .cart-summary .cart_text {
    color: var(--theme_color);
}

/* CART PAGE END  */
/* Dashboard Profile */
section#profile-wrapper label {
    font-size: 15px;
}

/* section#profile-wrapper input[value=" "] {
    font-size: 15px;
    display: none;
} */
input[value] {
    font-size: 14px;
}

#profile-wrapper {
    /* font-family: "Baloo Bhaijaan 2", cursive; */
}

.dashboard-list {
    box-shadow: 0 0 20px 0 rgb(62 28 131 / 10%);
}

.d-user-avater img {
    /* max-width: 180px; */
    border-radius: 50%;
    margin-bottom: 8px;
    /* height: 112px; */
    width: 140px;
    min-height: 140px;
    max-height: 140px;
    object-fit: cover;
    /* max-height: 133px; */
    object-position: center;
}

#profile-wrapper a {
    text-decoration: none;
}

.sidebar .active a,
.d-user-avater a {
    color: var(--theme_color);
}

.dashboard-content {
    width: 100%;
    padding: 2em;
    /* box-shadow: 0 0 20px 0 rgb(62 28 131 / 10%); */
    /* border-radius: 10px; */
}

.dashboard-list a {
    text-decoration: none;
    font-size: 16px;
}

/* Dashboard Profile Ends*/
/* Dashboard Order Status  */

.dashboard-content .shopping-cart-table {
    overflow-x: scroll;
}

.dashboard-content .table {
    width: 990px;
}

.dashboard-content .table td,
.dashboard-content .table th {
    vertical-align: middle;
    /* width: 20%; */
}

/* Dashboard Order Status Ends */
/* Dashboard Change Password */

.form-group a {
    text-decoration: none;
}

/* Dashboard Change Password Ends */
/*============================================== CHECKOUT PAGE START =======================*/

section#checkout .checkout-wrapper {
    box-shadow: 0px 0px 5px 0px #d5d5d5;
}

section#checkout .my-cart-number {
    background: var(--theme_color);
    color: white;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
}

section#checkout .my-car-title {
    background: #f6f6f6;
}

section#checkout .my-cart-order h4 {
    color: var(--black);
    margin: 0;
    line-height: 4rem;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 1rem;
}

section#checkout .img-block img {
    object-fit: contain;
    object-position: center;
    max-height: 100px;
    min-height: 100px;
}

/* section#checkout input {
    width: 57px;
    color: black !important;
  } */

section#checkout .btn_groups-single a {
    background-color: var(--theme_color);
    color: var(--white);
    padding: 15px 25px;
}

section#checkout ul {
    display: flex;
}

section#checkout table td {
    display: table-cell;
    margin: auto;
    vertical-align: middle;
}

section#checkout .text_gray .topping {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

section#checkout .text_gray {
    font-size: 0.9rem;
    font-weight: 600;
}

::-webkit-input-placeholder {
    color: #fff;
    font-size: 1px;
}

:-ms-input-placeholder {
    color: #fff;
    font-size: 14px;
}

::placeholder {
    color: #fff;
    font-size: 14px;
}

/*============================================== CHECKOUT PAGE END =======================*/
/*============================================== COMPARE PAGE START =======================*/
section#compare table .cart-image {
    width: 300px;
    max-width: 200px;
    min-width: 200px;
}

section#compare .dashboard-content .table {
    width: 990px;
}

section#compare .shopping-cart {
    overflow: hidden;
}

section#compare .shopping-cart-table table tbody tr td .quant-input {
    display: inline-block;
    height: 35px;
    position: relative;
    width: 70px;
}

section#compare .shopping-cart .shopping-cart-table .table>thead>tr>th {
    text-align: center;
    padding: 16px;
    font-size: 15px;
}

section#compare .table tbody tr {
    border-bottom: 1px solid #dee2e6;
}

section#compare .total-amount {
    color: #dee2e6;
}

section#compare .table tbody tr td {
    padding: 10px 10px;
    vertical-align: middle;
    font-size: 14px;
}

section#compare .shopping-cart .cart-image img {
    max-height: 88px;
    min-height: 88px;
    object-fit: contain;
    object-position: center;
}

section#compare .shopping-cart .cart-image a {
    overflow: hidden;
}

table .cart-image {
    width: 150px;
}

/*============================================== COMPARE PAGE END =====*/
/*============================================== ORDER STATUS PAGE START =====*/

section#order-wrapper a.entry-thumbnail img {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    min-height: 100px;
    max-height: 100px;
}

/* section#cart-wrapper h4.cart-product-description a {
  font-size: 17px;
  color: black;
} */
section#order-wrapper h4.cart-product-description {
    font-size: 14px;
    line-height: 23px !important;
    color: var(--black);
    font-weight: 500;
}

section#order-wrapper h4.cart-product-description a {
    /* font-size: 14px;
  line-height: 20px !important; */
    color: var(--black);
}

section#order-wrapper table .cart-image {
    width: unset;
    padding-left: 0;
}

section#order-wrapper th.cart-qty.item {
    padding-left: 0;
}

section#order_status .dashboard-content .table {
    width: 1290px;
}

.quantity_content {
    text-align: center;
    border: 1px solid #dee2e6;
    width: 28px;
    margin: auto;
}

/*============================================== ORDER STATUS PAGE END =====*/

/*============================================== CHECKOUT PAGE START =======================*/

:root {
    --card-line-height: 1.2em;
    --card-padding: 1em;
    --card-radius: 0.5em;
    /* --color-green: #558309;
  --color-gray: #e2ebf6;
  --color-dark-gray: #c4d1e1; */
    --radio-border-width: 2px;
    --radio-size: 1.5em;
}

div#shipping input.radio {
    width: 36px;
    text-align: center;
    height: 36px;
}

section#checkout .grid {
    display: grid;
    grid-gap: var(--card-padding);
    margin: 0 auto;
    max-width: 100%;
    padding: 0;
}

@media (min-width: 42em) {
    section#checkout .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

section#checkout .card {
    background-color: #fff;
    border-radius: var(--card-radius);
    position: relative;
}

section#checkout .card:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

section#checkout .radio {
    font-size: inherit;
    margin: 0;
    position: absolute;
    right: calc(var(--card-padding) + var(--radio-border-width));
    top: calc(var(--card-padding) + var(--radio-border-width));
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    section#checkout .radio {
        -webkit-appearance: none;
        -moz-appearance: none;
        background: #fff;
        border: var(--radio-border-width) solid var(--color-gray);
        border-radius: 50%;
        cursor: pointer;
        height: var(--radio-size);
        outline: none;
        transition: background 0.2s ease-out, border-color 0.2s ease-out;
        width: var(--radio-size);
    }

    section#checkout .radio::after {
        border: var(--radio-border-width) solid #fff;
        border-top: 0;
        border-left: 0;
        content: "";
        display: block;
        height: 0.75rem;
        left: 25%;
        position: absolute;
        top: 50%;
        transform: rotate(45deg) translate(-50%, -50%);
        width: 0.375rem;
    }

    section#checkout .radio:checked {
        background: var(--theme_color);
        border-color: var(--theme_color);
    }

    section#checkout .card:hover .radio {
        border-color: gray;
    }

    section#checkout .card:hover .radio:checked {
        border-color: var(--theme_color);
    }
}

section#checkout .plan-details {
    border: var(--radio-border-width) solid var(--color-gray);
    border-radius: var(--card-radius);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: var(--card-padding);
    transition: border-color 0.2s ease-out;
}

section#checkout .card:hover .plan-details {
    border-color: gray;
}

section#checkout .radio:checked~.plan-details {
    border-color: var(--theme_color);
}

section#checkout .radio:focus~.plan-details {
    box-shadow: 0 0 0 2px gray;
}

section#checkout .radio:disabled~.plan-details {
    color: gray;
    cursor: default;
}

section#checkout .radio:disabled~.plan-details .plan-type {
    color: gray;
}

section#checkout .card:hover .radio:disabled~.plan-details {
    border-color: var(--color-gray);
    box-shadow: none;
}

section#checkout .card:hover .radio:disabled {
    border-color: var(--color-gray);
}

section#checkout .plan-type {
    color: var(--theme_color);
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1em;
}

section#checkout .plan-cost {
    font-size: 1.2rem;
    /* font-weight: bold; */
    padding: 5px 0;
}

section#checkout .slash {
    font-weight: normal;
}

section#checkout .plan-cycle {
    font-size: 1.3rem;
    font-variant: none;
    border-bottom: none;
    cursor: inherit;
    text-decoration: none;
}

section#checkout .hidden-visually {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

div#shipping input {
    border: 1px solid var(--theme_color) !important;
    /* border-color: ; */
}

span.plan-details span {
    font-size: 14px;
    line-height: 24px;
    /* display: none; */
}

/*=================================================== SHIPPING END  */

section#checkout .checkout-wrapper {
    box-shadow: 0px 0px 5px 0px #d5d5d5;
}

section#checkout .my-cart-number {
    background: var(--theme_color);
    color: white;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
}

section#checkout .my-car-title {
    background: #f6f6f6;
}

section#checkout .my-cart-order h4 {
    color: var(--black);
    margin: 0;
    line-height: 4rem;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 1rem;
}

section#checkout .img-block img {
    object-fit: contain;
    object-position: center;
    max-height: 100px;
    min-height: 100px;
}

section#checkout input {
    width: 23px;
    color: black !important;
}

section#checkout b.plus {
    width: 22px;
}

section#checkout .input_block {
    width: 75px;
    margin: 0 auto;
    border: 1px solid #dee2e6;
}

section#checkout b.minus {
    width: 15px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

section#checkout .btn_groups-single a {
    background-color: var(--theme_color);
    color: var(--white);
    padding: 15px 25px;
    border: 1px solid;
    transition: 0.3s;
}

section#checkout .btn_groups-single a:hover {
    background-color: transparent;
    color: var(--theme_color);
    border: 1px solid;
}

section#checkout ul {
    display: flex;
}

section#checkout table td {
    display: table-cell;
    margin: auto;
    vertical-align: middle;
}

section#checkout .text_gray .topping {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

section#checkout .text_gray {
    font-size: 0.9rem;
    font-weight: 600;
}

::-webkit-input-placeholder {
    /* Edge */

    color: #fff;
    font-size: 14px;
}

:-ms-input-placeholder {
    /* Internet Explorer */

    color: #fff;
    font-size: 14px;
}

::placeholder {
    color: #fff;
    font-size: 14px;
}

/*=============================== CHECKOUT PAGE END =======================*/

/*=============================== CART PAGE START =======================*/
section#order_list_top .img_order_list img {
    width: 30px;
}

section#order_list_top {
    background: #e9ecef85;
    padding: 15px 0;
    background-color: #fcfcfc;
    border: 2px solid #f1f1f1 !important;
}

section#order_list_top .img_order_list h6 {
    font-weight: 600;
    color: #000000bf;
    padding-top: 6px;
    font-size: 15px;
    margin-bottom: 0;
}

h6.active-item {
    color: var(--theme_color_sub) !important;
}

/* cart content start  */
section#cart_user {
    background-color: #f3f3f3;
}

section#cart_user th.text-left {
    text-align: left !important;
}

/* section#cart_user .img_men_cart img {
  min-width: 136px;
  max-width: 136px;
  min-height: 136px;
  max-height: 136px;
} */
section#cart_user .img_men_cart img {
    min-width: 113px;
    max-width: 113px;
    min-height: 99px;
    object-fit: cover;
    max-height: 99px;
}

section#cart_user th.th_size {
    width: 60px;
    text-align: left !important;
}

section#cart_user th.text-left.th_size.border-0 {
    width: 136px;
    text-align: left !important;
}

section#cart_user .input_block {
    margin: unset;
}

.table td,
.table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    vertical-align: middle;
}

section#cart_user .button_block a {
    color: #000;
    font-size: 15px;
    font-weight: 500;
    transition: 0.3s;
}

section#cart_user .button_block a:hover {
    color: var(--theme_color);
}

section#cart_user b.minus {
    width: 18px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

section#cart_user .button_block {
    border-top: 1px solid #dee2e6;
    padding-top: 20px;
}

.input_b {
    border: 1px solid #d9d8d8;
    width: 60px;
    display: flex;
}

b.minus_b {
    width: 20px;
    text-align: center;
    cursor: pointer;
    /* display: inline-block; */
}

input.count_b {
    width: 26px;
    border: 0;
    text-align: center;
}

b.plus_b {
    width: 20px;
    text-align: center;
    cursor: pointer;
}

section#cart_user .cart-price {
    font-size: 14px;
}

section#cart_user .cart-price h6 {
    font-size: 14px;
    font-weight: 600;
}

section#cart_user .item_block {
    background: var(--theme_color_sub);

    color: var(--white);
    /* padding: 0; */
    height: 25px;
    line-height: 25px;
    border-radius: 3px;
    padding: 0 7px;
    font-size: 13px;
}

section#cart_user .cart_user_top {
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 15px;
}

section#cart_user .cart_summary {
    font-size: 19px;
}

button.btn.btn-base-1 {
    background: var(--theme_color);
    border-radius: 0;
    color: #fff;
}

/*=============================== CART PAGE END =======================*/

/*=================================================== SHIPPING START  */

:root {
    --card-line-height: 1.2em;
    --card-padding: 1em;
    --card-radius: 0.5em;
    /* --color-green: #558309;
  --color-gray: #e2ebf6;
  --color-dark-gray: #c4d1e1; */
    --radio-border-width: 2px;
    --radio-size: 1.5em;
}

div#shipping .add_btn_img img {
    width: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div#shipping button.btn.add_btn_img {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
}

div#shipping input.radio {
    width: 36px;
    text-align: center;
    height: 36px;
}

section#checkout .grid {
    display: grid;
    grid-gap: var(--card-padding);
    margin: 0 auto;
    max-width: 100%;
    padding: 0;
}

@media (min-width: 42em) {
    section#checkout .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

section#checkout .card {
    background-color: #fff;
    border-radius: var(--card-radius);
    position: relative;
}

section#checkout .card:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

section#checkout .radio {
    font-size: inherit;
    margin: 0;
    position: absolute;
    right: calc(var(--card-padding) + var(--radio-border-width));
    top: calc(var(--card-padding) + var(--radio-border-width));
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    section#checkout .radio {
        -webkit-appearance: none;
        -moz-appearance: none;
        background: #fff;
        border: var(--radio-border-width) solid var(--color-gray);
        border-radius: 50%;
        cursor: pointer;
        height: var(--radio-size);
        outline: none;
        transition: background 0.2s ease-out, border-color 0.2s ease-out;
        width: var(--radio-size);
    }

    section#checkout .radio::after {
        border: var(--radio-border-width) solid #fff;
        border-top: 0;
        border-left: 0;
        content: "";
        display: block;
        height: 0.75rem;
        left: 25%;
        position: absolute;
        top: 50%;
        transform: rotate(45deg) translate(-50%, -50%);
        width: 0.375rem;
    }

    section#checkout .radio:checked {
        background: var(--blue);
        border-color: var(--blue);
    }

    section#checkout .card:hover .radio {
        border-color: gray;
    }

    section#checkout .card:hover .radio:checked {
        border-color: var(--blue);
    }
}

section#checkout .plan-details {
    border: var(--radio-border-width) solid var(--color-gray);
    border-radius: var(--card-radius);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: var(--card-padding);
    transition: border-color 0.2s ease-out;
}

section#checkout .card:hover .plan-details {
    border-color: gray;
}

section#checkout .radio:checked~.plan-details {
    border-color: var(--blue);
}

section#checkout .radio:focus~.plan-details {
    box-shadow: 0 0 0 2px gray;
}

section#checkout .radio:disabled~.plan-details {
    color: gray;
    cursor: default;
}

section#checkout .radio:disabled~.plan-details .plan-type {
    color: gray;
}

section#checkout .card:hover .radio:disabled~.plan-details {
    border-color: var(--color-gray);
    box-shadow: none;
}

section#checkout .card:hover .radio:disabled {
    border-color: var(--color-gray);
}

section#checkout .plan-type {
    color: var(--blue);
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1em;
}

section#checkout .plan-cost {
    font-size: 1.5rem;
    /* font-weight: bold; */
    padding: 0;
}

section#checkout .slash {
    font-weight: normal;
}

section#checkout .plan-cycle {
    font-size: 2rem;
    font-variant: none;
    border-bottom: none;
    cursor: inherit;
    text-decoration: none;
}

section#checkout .hidden-visually {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

span.right_bold {
    padding-left: 5px;
    font-weight: 600;
}

div#shipping input.radio {
    width: 26px;
    text-align: center;
    height: 36px;
    position: absolute;
    right: 5%;
}

/*=================================================== SHIPPING END  */

/*=================================================== DELIVERY INFO START  */
.shipping_radio.custom-radio {
    position: relative;
    width: 196px;
}

label.shipping_radio-label {
    padding: 17px 20px;
    display: block;
    background: #f3f3f3;
    border: 1px solid;
    border-radius: 5px;
}

input#defaultUnchecked {
    position: absolute;
    top: 54%;
    left: 2%;
    transform: translate(5%, -60%);
}

.delivery_info_img img {
    min-width: 188px;
    max-width: 188px;
    min-height: 200px;
    max-height: 200px;
    object-fit: cover;
}

.title_delivery {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 7px;
}

input#defaultUnchecke {
    position: absolute;
    top: 52%;
    left: 3%;
    transform: translate(-3%, -50%);
}

/*************************** search select start  */

.main_delivery_info {
    height: 250px;
}

@media (max-width: 34em) {
    .main_delivery_info {
        min-width: 150px;
        width: auto;
    }
}

#select_box {
    display: none !important;
}

.dropdown-select {
    background-color: #fff;
    border-radius: 6px;
    border: solid 1px #eee;

    box-sizing: border-box;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: normal;
    height: 42px;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto;
}

.dropdown-select:focus {
    background-color: #fff;
}

.dropdown-select:hover {
    background-color: #fff;
}

.dropdown-select:active,
.dropdown-select.open {
    background-color: #fff !important;
    border-color: #bbb;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05) inset;
}

.dropdown-select:after {
    height: 0;
    width: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #777;
    -webkit-transform: origin(50% 20%);
    transform: origin(50% 20%);
    transition: all 0.125s ease-in-out;
    content: "";
    display: block;
    margin-top: -2px;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 50%;
}

.dropdown-select.open:after {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.dropdown-select.open .list {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}

.dropdown-select.open .option {
    cursor: pointer;
}

.dropdown-select.wide {
    width: 100%;
}

.dropdown-select.wide .list {
    left: 0 !important;
    right: 0 !important;
}

.dropdown-select .list {
    box-sizing: border-box;
    transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09);
    background-color: #fff;
    border-radius: 6px;
    margin-top: 4px;
    padding: 3px 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    max-height: 250px;
    overflow: auto;
    border: 1px solid #ddd;
}

.dropdown-select .list:hover .option:not(:hover) {
    background-color: transparent !important;
}

.dropdown-select .dd-search {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-top: 4px;
}

.dropdown-select .dd-searchbox {
    width: 90%;
    padding: 0.5rem;
    border: 1px solid #999;
    border-color: #999;
    border-radius: 4px;
    outline: none;
    height: 40px;
}

.dropdown-select .dd-searchbox:focus {
    border-color: #12cbc4;
}

.dropdown-select .list ul {
    padding: 0;
}

.dropdown-select .option {
    cursor: default;
    font-weight: 400;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    transition: all 0.2s;
    list-style: none;
}

.dropdown-select .option:hover,
.dropdown-select .option:focus {
    background-color: #f6f6f6 !important;
}

.dropdown-select .option.selected {
    font-weight: 600;
    color: #12cbc4;
}

.dropdown-select .option.selected:focus {
    background: #f6f6f6;
}

.dropdown-select a {
    color: #aaa;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.dropdown-select a:hover {
    color: #666;
}

/*********************************** search select end  */
/*=================================================== DELIVERY INFO END  */

/*=================================================== PAYMENT SELECT START  */
.payment_esewa {
    background: #8080801a;
    width: 59%;
    text-align: center;
    padding: 25px 0;
    margin-top: 6px;
    border-radius: 5px;
}

/*=================================================== PAYMENT SELECT END  */

/*=================================================== ORDER SUCCESS START  */
.round-block-checkout {
    width: 40px;
    height: 40px;
    background: var(--theme_color);
    border-radius: 50%;
    margin: 0 auto;
    line-height: 40px;
    text-align: center;
    padding: 0;
}

/*=================================================== ORDER SUCCESS END  */

/*=================================================== THREE BANNER CSS START  */
section#three_banner .three_banner_img img {
    min-height: 172px;
    max-height: 172px;
    width: 100%;
}

/*=================================================== THREE BANNER CSS END  */

/*=================================================== VENDER HOME PAGE SLIDER START  */

#vendor-listing-wrapper .btn_view {
    text-decoration: none;
    border: unset;
    border-radius: unset;
    padding: unset;
    display: unset;
    transition: unset;
    width: unset;
    /* cursor: unset; */
    font-family: "Open Sans";
}

#vendor-listing-wrapper .btn_view:hover {
    box-shadow: unset;
    border: unset;
    transition: unset;
}

.section_title_block h2 {
    font-weight: 600;
    font-size: 22px;
    padding-bottom: 9px;
    font-family: "Open Sans";
}

#vendor-listing-wrapper {
    /* font-family: 'Open Sans', sans-serif; */
}

#vendor-listing-wrapper .vender_item {
    text-decoration: none;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    padding: 7px;
    display: inline-block;
    transition: 1s;
    width: 100%;
    cursor: pointer;
}

#vendor-listing-wrapper .vender_item:hover {
    box-shadow: rgb(125 125 125 / 45%) 0px 25px 20px -20px;
    border: 1px solid transparent;
    transition: 1s;
}

#vendor-listing-wrapper .image img {
    max-height: 120px;
    min-height: 120px;
    object-fit: cover;
    object-position: center;
    width: 100%;
    transition: 3s ease-in;
}

#vendor-listing-wrapper .image {
    overflow: hidden;
    width: 40%;
    border-radius: 5px;
}

#vendor-listing-wrapper .image:hover img {
    transform: scale(1.1);
    transition: transform 3s ease-out;
}

#vendor-listing-wrapper .vendor-content ul li i {
    color: orange;
}

#vendor-listing-wrapper .vendor-content .category {
    font-size: 15px;
}

#vendor-listing-wrapper label {
    font-size: 19px;
    color: var(--theme_color);
}

/* Vendor Listing Ends */
.vender_home .vendor-content {
    font-family: "Open Sans";
}

/*=================================================== VENDER HOME PAGE SLIDER END  */
input#numbers {
    background: #fafafa !important;
}

section#category_section {
    margin-bottom: 75px;
}

.product-box-2 {
    border: 1px solid #eee;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.product-box-2 .overflow-hidden {
    overflow: hidden;
}

.product-box-2.alt-box .product-btns {
    right: auto;
    left: 0;
    top: auto;
    bottom: -32px;
    height: 32px;
    width: 100%;
}

.product-box-2 .product-btns {
    background: unset;
}

.product-box-2 .product-btns {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    background: #fff;
    position: absolute;
    right: -34px;
    top: 0;
    height: 100%;
    width: 32px;
    opacity: 0;
}

.product-box-2.alt-box .product-image img {
    height: 200px;
}

.product-box-2 .product-image img {
    width: 100%;
}

.caorusel-box.gutters-5 .caorusel-card {
    padding-left: 5px;
    padding-right: 5px;
}

.product-title a {
    color: #111;
    display: block;
}

.price-box .cut-price {
    color: var(--red);
    font-size: 12px;
    font-weight: 500;
    text-decoration: line-through;
    margin-left: 7px;
}

.fa-star {
    color: #ffed0f;
}

.noUi-horizontal .noUi-handle {
    background-color: var(--theme_color);
}

.c-rating>label {
    color: #d9dbdc;
    float: right;
    margin-bottom: 0;
}

.c-rating>label:before {
    margin: 0 2px;
    font-size: 16px;
    font-family: FontAwesome !important;
    content: "\f005";
    display: inline-block;
}

.c-rating>input {
    display: none;
}

.c-rating>input:checked~label,
.c-rating:not(:checked)>label:hover,
.c-rating:not(:checked)>label:hover~label {
    color: #ffcc00;
}

.c-rating>input:checked+label:hover,
.c-rating>input:checked~label:hover,
.c-rating>label:hover~input:checked~label,
.c-rating>input:checked~label:hover~label {
    color: #ffcc00;
}

.seller-shop-menu .inline-links .active {
    border-bottom: 2px solid var(--theme_color);
}

/* Brands */
#our-brands .item img {
    max-height: 150px;
    min-height: 150px;
    object-fit: contain;
    margin: auto;
    width: 100%;
}
